{% extends "base.html" %}
{% block title %}Book now{% endblock %}

{% block content %}
<div class="container">
  <div class="cards text-white">
    <img class="card-img" src="{{ url_for('static', filename='image/baikang-yuan-VDYAsdbHVhc-unsplash.jpg') }}" 
    alt="...">
    <div class="card-img-overlay position-absolute top-50 start-50 translate-middle">
    <h1 class="card-title">Book Now</h2>
    <h3 class="card-text">Use The Best Traveal Planner!</h4>
        <form method="post" action="/hotel">
        <!-- <a class="text-dark" href="{{ url_for('hotel') }}">Look For Hotel?</a> -->
            <input class="btn btn-outline-secondary" type="submit" value="Find out more?" name="action1"/>
        </form>
    </div>
    </div>  
</div>
<!-- <br><br>
<div class="container">
  <h3 class="text-dark">Want to find out more?</h3>
  <div class="row row-cols-1 row-cols-md-2 text-dark">
      <div class="col mb-6">
        <div class="cards">
          <img src="{{ url_for('static', filename='image/kentaro-toma-85TM5HTOwOg-unsplash.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-dark" href="{{ url_for('guide') }}">Tour Guide</h5>
            <p class="card-text text-dark">
              This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <form method="post" action="/guide">
                <input class="btn btn-outline-secondary" type="submit" value="Find out more?" name="action2"/>
              </form> 
          </div>
        </div>
      </div>
      <div class="col mb-6">
        <div class="cards">
          <img src="{{ url_for('static', filename='image/tabea-schimpf-O7WzqmeYoqc-unsplash.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-dark" href="{{ url_for('car') }}">Vehicle</h5>
            <p class="card-text text-dark">
              This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <form method="post" action="/car">
                <input class="btn btn-outline-secondary" type="submit" value="Find out more?" name="action3"/>
              </form> 
          </div>
        </div>        
      </div>
  </div>
  <br><br><br> -->
  <h2>Frequently Asked Question</h2>
  
  <button class="accordion">What are we?</button>
  <div class="panel">
    <p>We are the all-in-one platform for the people who want to plan their trip better, we allows people to upload thir product 
      for others to choose from.
    </p>
  </div>

  <button class="accordion">Our thought</button>
  <div class="panel">
    <p>We want to provide the message "Share Your Spare Item" to reduce redundancy.</p>
  </div>

  <button class="accordion">About our product</button>
  <div class="panel">
    <p>We will only provide safe and clean product, no metter hotel or vehical, we hope our product can experence better service will 
      afforable price.
    </p>
  </div>
  <br><br>
</div>
{% endblock %}
